@font-face {
    font-family: 'Monofonto';
    src: url('fonts/Monofonto-Regular.woff2') format('woff2'),
        url('fonts/Monofonto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}



body {
    height: 100vh;
    overflow: auto;
    margin: 0;
    padding: 0;

    display: flex;

    background-color: #ebebeb;
    font-size: 18px;
    
    
    
}

img {
    margin: 0;
    padding: 0;
    height: 100vh;
    
    
}



.right-section {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 1;
    gap: 30px;
    
    
    
}


.above-form, legend, .form-main > div, .bottom-sec {
    margin-left: 20px;
}

.above-form {
    font-family: "Monofonto";
    font-size: 40px;
}

.form-main {
    background-color: white;
    padding: 30px 0;
    font-family: "Jost";
    font-size: 20px;
}


.form-details {
    display: flex;
    margin: 15px 0;
    gap: 20px;
    
}

input {
    width: 25rem;
}

span {
    display: flex;
    flex-direction: column;
}