body {
    height: 100vh;
    
    margin: 0;
    padding: 0;

    display: flex;
    
    gap: 20px;
    
    
}

img {
    margin: 0;
    padding: 0;
    height: 100vh;
    
    
}


.right-section {
    display: flex;
    flex-direction: column;
    align-self: center;
    
    gap: 30px;
    margin: auto;
    
}

.form-details {
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
}

span {
    display: flex;
    flex-direction: column;
}
