body {
    height: 100vh;
    
    margin: 0;
    padding: 0;

    display: flex;
    
    gap: 20px;
    
    
}

img {
    margin: 0;
    padding: 0;
    height: 100vh;
    
    
}


.right-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;
    
}

.card {
    position: absolute;
    opacity: 30;
    width: 100vw;
    height: 1rem;
    box-shadow: 12px 12px grey;
}

.form-details {
    display: flex;
    
    margin: 1rem;
    gap: 1rem;
}

span {
    display: flex;
    flex-direction: column;
}
