body {
    height: 100vh;
    
    margin: 0;
    padding: 0;

    display: flex;

    background-color: #ebebeb;
    
    
    
    
}

img {
    margin: 0;
    padding: 0;
    height: 100vh;
    
    
}



.right-section {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 1;
    gap: 30px;
    
    
    
}


.above-form, legend, .form > div, .below-form {
    margin-left: 20px;
}

.form {
    background-color: white;
    padding: 30px 0;
}


.form-details {
    display: flex;
    margin: 15px 0;
    gap: 20px;
    
}

input {
    width: 25rem;
}

span {
    display: flex;
    flex-direction: column;
}