body {
    height: 100vh;
    
    margin: 0;
    padding: 0;

    display: flex;
    
    gap: 20px;
    
    
}

img {
    margin: 0;
    padding: 0;
    height: 100vh;
    
    
}



.right-section {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 1;
    gap: 30px;
    
    background-color: pink;
    
}




.form-details {
    display: flex;
    margin: 1rem;
    gap: 1rem;
}

span {
    display: flex;
    flex-direction: column;
}