@font-face {
    font-family: 'Monofonto';
    src: url('fonts/Monofonto-Regular.woff2') format('woff2'),
        url('fonts/Monofonto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}



body {
    height: 100vh;
    
    margin: 0;
    padding: 0;

    display: flex;
    background-color: #ebebeb;
    font-size: 18px;
    
    
    
}

.left-section {
    position: relative;
    min-width: 736px;  /*Original Image width*/
    
}

.anime-background {
    position: absolute;
    width: 100%;
    height: 100%;
}


#card {
    position: absolute;
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, .5);
    top: 20%;
}


.logo {
    position: absolute;
    height: 200px;
    left: 38%;
    top: 11%;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 1;
    gap: 30px;
    
    
    
}


.above-form, legend, .form-main > div, .bottom-sec {
    margin-left: 20px;
}

.above-form {
    font-family: "Monofonto";
    font-size: 40px;
}

.form-main {
    background-color: white;
    padding: 30px 0;
    font-family: "Jost", sans-serif;
    font-size: 20px;
}


.form-details {
    display: flex;
    margin: 15px 0;
    gap: 20px;
    
}

input {
    width: 17rem;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}

span {
    display: flex;
    flex-direction: column;
}

input:focus {
    outline: 1px solid #3bb4ff;
    box-shadow: 0 5px 5px gray;
}

input:invalid {
    outline: 1px solid red;
}


button {
    padding: 10px;
    font-size: 1.3rem;
    font-family: sans-serif, "Jost", 'Times New Roman';
    background-color: #42f595;
    border: .5px solid;
    border-radius: 15px;
}

button:hover {
    background-color: #6bffb0;
}

button:active {
    background-color: #42f595;
}