body {
    height: 100vh;
    
    margin: 0;
    padding: 0;

    display: flex;
    
    
    
    
}

img {
    margin: 0;
    padding: 0;
    height: 100vh;
    
    
}



.right-section {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 1;
    gap: 30px;
    
    background-color: pink;
    
}


.above-form, .form, .below-form {
    margin-left: 20px;
}



.form-details {
    display: flex;
    margin: 15px 0;
    gap: 1rem;
}

input {
    width: 25rem;
}

span {
    display: flex;
    flex-direction: column;
}